body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #eaeaea;
    margin: 0;
}

/* Centering the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* take the full viewport height */
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styling for the search bar and its components for better alignment */
.search-bar {
    margin-top: 15px;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;

}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#add-transaction-button {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 20px;
}

button:hover {
    background-color: #0056b3;
}

.overlay-container {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.overlay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    min-width: 300px;
    max-width: 900px;
    padding: 10px;
    background-color: #1e1e1e;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; /* include padding in total width and height */
}

.overlay-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    flex-direction: column;
}

#add-transaction-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 100%;
}

.label-input-container {
    display: flex;
    flex-direction: column-reverse;
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 12px;
    margin: 3px;
    background-color: #252525;
}

.label-input-container label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #d4d4d4;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}

/* Default styles */
.label-input-container input {
    border: 2px solid #ccc;
    background-color: #5c5c5c;
    color: #d4d4d4;
    transition: border-color 0.3s ease;
}

/* Styles when focused */
.label-input-container input:focus {
    border-color: #007bff;
    background-color: #6c787e;
    color: #d4d4d4;
    outline: none;
}

/* If you also want to style the dropdown */
.label-input-container select {
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

.label-input-container select:focus {
    background-color: #e6f7ff;
    color: #333;
    outline: none;
}

.label-input-container input:focus + label,
.label-input-container select:focus + label {
    color: #007bff;
}

.radio-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.radio-button-container label {
    margin-left: 5px;
    font-size: 14px;
}

.overlay-label, .overlay-input {
    width: 100%;
}

.overlay-input input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: #fff;
}

.close-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover {
    background-color: #004080;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
    border: none;
    background-color: #0056b3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #004080;
}

.transaction-list-container {
    max-height: 60vh;
    overflow-y: auto;
    border: 2px solid #5c5c5c;
    border-radius: 12px;
    margin-top: 5vh;
}

/* Updated CSS snippet */
.transaction-list-table {
    table-layout: auto;
}

.transaction-list-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.transaction-list-table thead tr th {
    border: 2px solid #5c5c5c;
    background-color: #333;
    text-align: center;
    padding: 15px;
    top: 0;
    margin: 0; /* Ensures no margin */
    box-sizing: border-box; /* Includes border in the element's total width and height */
}

.transaction-list-table tbody {
    display: table-row-group;
}

.transaction-list-table tr {
    display: table-row;
    table-layout: fixed;
}

.transaction-list-table tbody tr td {
    border: 1px solid #5c5c5c;
    text-align: center;
    padding: 15px;
}

.alert-card {
    background-color: #333;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 300px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: white;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards,
               scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards 4.75s;
}

.alert-card .bar {
    width: 10px;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: rgb(31, 119, 31);
}

.alert-card .content {
    margin-left: 0px;
}

.alert-card .material-icons {
    font-size: 24px;
    color: rgb(31, 119, 31);
    margin-left: 15px;
    margin-right: 15px;
}

.alert-card h1 {
    margin: 0;
    font-size: 1.5rem;
}

.alert-card p {
    margin: 0;
    margin-bottom: 4px;
    color: #aaa;
}
  
@keyframes scale-in-center {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
}
  
@keyframes scale-out-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
}
  
.profit-loss {
    position: absolute;
    top: 30px;
    left: 30px;
} 
