/* Catpuccin Machiatto Colors */
:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext-1: #b8c0e0;
    --subtext-0: #a5adcb;
    --surface-0: #363a4f;
    --surface-0-trans: rgba(54, 58, 79, 0.8);
    --base: #24273a;
    --mantle: #1e2030;
    --mantle-trans: rgba(30, 32, 48, 0.85);
    --crust: #181926;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--base);
    color: var(--text);
    margin: 0;
}

/* Centering the main content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh; /* take the full viewport height */
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, button {
    padding: 10px;
    border: none;
    border-radius: 12px;
    margin: 5px;
    font-size: 16px;

}

@keyframes breathing {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

.pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('static/pattern.svg');
    z-index: 0;
}

.content {
    position: relative;
}

.input-box {
    margin-block: 1rem;
    display: flex;
    width: 18rem;
    height: 2.65rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    position: relative;
    background-color: var(--surface-0);
    flex-direction: row;
}

.input-box label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text);
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}

.input-box input {
    position: relative;
    background-color: transparent;
    flex-grow: 1;
    color: var(--text);
    transition: all 0.3s ease;
    height: 100%;
    border-radius: 10px;
    margin: 0;
    margin-left: 0.5rem;
    padding: 0;
}

.input-loader {
    width: 2rem;
    height: auto;
    aspect-ratio: 1 / 1;
    margin-right: 0.8rem;
    position: relative;
    opacity: 1;
    transition: all 0.6s ease;
}

.input-loader.hide {
    opacity: 0;
    pointer-events: none;
}

.input-loader::before,
.input-loader::after {
    content: '';
    position: absolute;/* Border color of the spinner */
    border-radius: 50%;
    background-image: conic-gradient(
        var(--mauve),
        var(--sky)
    );
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2em;
    height: 2em;
    box-sizing: border-box;
    animation: animate-input-loader 1s linear infinite;
}

.input-loader::after {
    filter: blur(0.5rem);
}

@keyframes animate-input-loader {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@property --gradient-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.input-box::before,
.input-box::after {
    content: '';
    position: absolute;
    inset: -0.2rem;
    border-radius: 10px;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--mauve),
        var(--sapphire),
        var(--mauve));
    opacity: 0;
    animation: rotation 20s linear infinite;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.input-box::after {
    filter: blur(2.5rem);
}

.input-box:hover::before,
.input-box:hover::after {
    opacity: 0.5;
}

.input-box:focus-within::before,
.input-box:focus-within::after {
    opacity: 1;
}

.input-box input:focus {
    outline: none;
}

button {
    border: 2px solid transparent;
    background-color: var(--blue);
    color: #363a4f;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#add-transaction-button {
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 20px;
}

button:hover {
    background-color: var(--mauve);
    border: 2px solid var(--mauve);
    box-shadow: 0 0 8px var(--mauve);
}

.overlay-container {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 9999;
    visibility: visible;
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.overlay-container.hide {
    visibility: hidden;
    opacity: 0;
}

.overlay {
    display: grid;
    /* gap: 1rem; */
    align-items: center;
    width: 50%;
    min-width: 300px;
    max-width: 900px;
    padding: 10px;
    background-color: #1e2030;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box; /* include padding in total width and height */
    opacity: 1;
    transition: all 0.3s ease;
}

.overlay.hide {
    opacity: 0;
    pointer-events: none;
}

.overlay-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0px;
    flex-direction: column;
}

#add-transaction-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: 100%;
}

.label-input-container {
    display: flex;
    flex-direction: column-reverse;
    padding: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    border-radius: 12px;
    margin: 3px;
    background-color: #24273a;
}

.label-input-container label {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #cad3f5;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}

/* Default styles */
.label-input-container input {
    border: 2px solid transparent;
    background-color: #494d64;
    color: #cad3f5;
    transition: all 0.3s ease;
}

.label-input-container input:hover {
    border: 2px solid rgb(147, 154, 183);
    box-shadow: 0 0 4px rgb(147, 154, 183);
}

/* Styles when focused */
.label-input-container input:focus {
    border: 2px solid var(--mauve);
    box-shadow: 0 0 8px var(--mauve);
    outline: none;
}

/* If you also want to style the dropdown */
.label-input-container select {
    border: 2px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
}

.label-input-container select:focus {
    background-color: #e6f7ff;
    color: #333;
    outline: none;
}

.label-input-container input:focus + label,
.label-input-container select:focus + label {
    color: var(--mauve);
}

.radio-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    outline: none;
}

input[type="radio"] {
    appearance: none;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: var(--mauve);
    border: 2px solid var(--mauve);
}

.radio-button-container label {
    margin-left: 5px;
    font-size: 14px;
}

#timestamp {
    font-size: 14px;
    width: 70%;
}

.overlay-label, .overlay-input {
    width: 100%;
}

.overlay-input input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: none;
    background-color: #333;
    color: #fff;
}

.close-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}

.transaction-panel {
    position: relative;
    margin-top: 5vh;
    border-radius: 8px;
}

.transaction-panel::before,
.transaction-panel::after {
    content: '';
    position: absolute;
    inset: -.2rem;
    border-radius: 10px;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--mauve),
        var(--blue),
        var(--sapphire),
        var(--blue),
        var(--mauve));
    opacity: 0;
    animation: rotation 20s linear infinite;
    transition: opacity 0.3s ease;
    z-index: -1;
}

.transaction-panel::after {
    filter: blur(3.5rem);
}

.transaction-panel:hover::before,
.transaction-panel:hover::after {
    opacity: 0.5;
}

.transaction-list-container {
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: none;
    border-radius: 8px;
    transition: all 0.3s ease;
    background-color: var(--mantle-trans);
    backdrop-filter: blur(1rem);
}

/* Updated CSS snippet */
.transaction-list-table {
    table-layout: auto;
    border-spacing: 0px;
}

.transaction-list-table thead {
    position: sticky;
    top: 0;
    z-index: 2;
}

.transaction-list-table thead tr th {
    background-color: var(--surface-0);
    text-align: center;
    padding: 15px;
    top: 0;
    margin: 0; /* Ensures no margin */
    box-sizing: border-box; /* Includes border in the element's total width and height */
}

.transaction-list-table tbody {
    display: table-row-group;
}

.transaction-list-table tr {
    display: table-row;
    table-layout: fixed;
}

.transaction-list-table tbody tr td {
    border-bottom: 1px solid #5c5c5c;
    text-align: center;
    padding: 15px;
    background-color: transparent;
    transition: all 0.3s ease;
}

.transaction-list-table tbody tr:hover td {
    background-color: rgba(198, 160, 246, 0.4);
}

.alert-card {
    background-color: var(--base);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 300px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards,
               fade-out 0.75s cubic-bezier(0.550, 0.085, 0.680, 0.530) forwards 4.75s;
}

.alert-card .bar {
    width: 10px;
    height: 100%;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: var(--green);
}

.alert-card .content {
    margin-left: 0px;
}

.alert-card .material-icons {
    font-size: 24px;
    color: var(--green);
    margin-left: 15px;
    margin-right: 15px;
}

.alert-card h1 {
    margin: 0;
    font-size: 1.5rem;
}

.alert-card p {
    margin: 0;
    margin-bottom: 4px;
    color: #aaa;
}
  
@keyframes slide-in-right {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    50% {
        transform: translateX(-4%);
        opacity: 1;
    }
    65% {
        transform: translateX(3%);
    }
    75% {
        transform: translateX(-2%);
    }
    85% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


@keyframes fade-out {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
        transform: translateX(-50%);
    }
}
  
.rounded-div {
    background-color: #73ad21; /* green */
    color: #363a4f;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: 20px;
}
  
